/*******************************************************
	Footer
*******************************************************/

.main-footer {
	width:100%;
	float: left;
	background: white;
	position: relative;
	z-index: 5000;
	padding:2em 0;
	i.love:before {
		font-size:1em;
	}
}