.lightbox#projects-form
    .modal
        .card
            .card-header
                h2 Add a New Project
                a.close ×
            .card-content
                .grid-12
                    include forms/add_project.jade
