.card
    .card-content
        div.grid-6
            h3 Projects
            a(href='#', data-lightbox='projects-form') Add a New Project
        div.grid-6
            h3 Tasks
            a() Add a New Task fd
