/*************************************************
	Variables
**************************************************/

/* Colors */

$blue: #3371b6;
$orange: #F7941D;
$gray: #454859;
$red: #F26649;
$green:#6fcd83;
$yellow:#f0ad4e;
$highlight:#fcfbd4;
$steel:#e4e5ea;

$text-color:$gray;
$primary-color:$blue;
$brand-color: $orange;
$success-color:$green;
$error-color:$red;
$warning-color:$yellow;

/* Sizes. We know that size doesn't matter. But sometimes...it does. */

$base-font-size:16px;
$base-line-height:1.5;
