extends layout

block header

block nav
	#nav.grid-3
		include partials/nav.jade

block tables
	#tables.grid-9
		include partials/tables.jade

block lightboxes
	#lightboxes
		include partials/lightbox_add_project.jade
